@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:wght@200&display=swap');
* {
    transition: all 0.5s linear;
    font-family: 'Karla', sans-serif;
  }
  
  html,
  body {
    scroll-behavior: smooth; 
    font-size: 100%;
    background-color: #061b2c;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: auto;
    background-image: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

h3 {
  font-family: 'Anton', sans-serif;
}

.btn {
  z-index: 0;
    overflow: hidden;
    margin-bottom: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
    box-shadow: rgb(10 11 13 / 8%) 0px 2px 4px 0px;
}
.kontener {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 600px;
}