@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:wght@200&display=swap');
* {
    transition: all 0.5s linear;
    font-family: 'Karla', sans-serif;
  }
  
  html,
  body {
    scroll-behavior: smooth; 
    font-size: 100%;
    background-color: #061b2c;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: auto;
    background-image: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

h3 {
  font-family: 'Anton', sans-serif;
}

.btn {
  z-index: 0;
    overflow: hidden;
    margin-bottom: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
    box-shadow: rgb(10 11 13 / 8%) 0px 2px 4px 0px;
}
.kontener {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 600px;
}

footer span {
  color: #666;
  font-size: 12px;
  display: block;
  position: absolute;
  bottom: 10px;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 45%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
footer span a {
  color: #000000;
  text-decoration: none;
}
footer span .fa {
  color: #E90606;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}